@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html, body, #__next { 
    height: 100%; 
  }
  
  body { 
    background: #f8fafc; 
    color: #0f172a;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer utilities {
  .line-clamp-2 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }
}
